header {
    background-image: url('images/wesson-wang-y0_vFxOHayg-unsplash.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  
  }
.text, h1, h2, h3{
    font-family: 'Lobster', cursive;
}

.text {

}
h1{

    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin: 0;
    top: 25rem;
    letter-spacing: 5px;
    width: 100%;

}

/* Section */
.img1{
    background-image: url('images/kyle-sung-oQuP_XBjOMY-unsplash.jpg');
    height: 108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    background: rgba(0,0,0,0.3);
    color: white;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
    padding: 3.5rem;
}

.learn {
    background: transparent;
    margin-top: 5rem;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 2rem;
    font-weight: 500;
    transition: all 0.4s ease-in;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.learn:hover{
    background:rgba(255,255,255,0.9);
    color: black;
}

/* deuxième section */

.img2{
    background-image: url('images/charles-adrien-fournier-g815W4LH4F8-unsplash.jpg');
    height: 108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

/* troisième section*/

.img3{
    background-image: url('images/oliur-TIMCZe9JghI-unsplash.jpg');
    height: 108rem;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

h2, h3{
    font-size: 3rem;
    height: 40px;
}

/* Souris image scroll*/
.scroll{
    width: 50px;
    position: absolute;
    left:0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 9999;
    margin-bottom: 40px;
    margin-left: 48%;
}

/* Animations Magic Scroll */
.box1 {
    opacity: 0;
    transition: all 0.4s linear;
}

.box2{
    opacity: 0;
    transition: all 0.4s linear;
}

.box3 {
    opacity: 0;
    transition: all 0.4s linear;
}

.fade-in {
    opacity: 1;
}


/* Loading page*/
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.lettre {
    color: #000;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color:#be1313 ;
        text-shadow: 0 0 7px #be1313;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #be1313;
        text-shadow: 0 0 7px #be1313;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}


.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/* NO SPINAROUND BULMA*/
@keyframes spinAround {
    100%{
        -webkit-transform : rotate(0deg);
        transform: rotate(0deg);
    }
}

/* border bulma : none*/
.button.is-loading::after, .control.is-loading::after, .loader, .select.is-loading::after {
    border:none;
}